#class 2

In [1]:
name : str = "haider ali tariq"
fname : str = "Muhammad Tariq"

card : str = "piaic student card\nStudent Name:" + name +""
print(card)

piaic student card
Student Name:haider ali tariq

In [2]:
!pip install pandas
import pandas as pd 
table =pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\computer\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\computer\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [ ]:
a : int = 11
b : int = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

14
8
33
3.6666666666666665
2
3
1331

In [ ]:
a:int = 5
b:int = 6
print(a==b)

False

In [ ]:
a:int = 5 
b:int = 6
print(a!=b)

In [ ]:
a:int = 7 
b:int = 7
print(a>=b)

True

In [ ]:
a:str = "a" 
b:str = "b"
print(a>=b)

False

In [ ]:
a:str = "a" 
b:str = "b"
print(a<=b)

True

In [ ]:
chr(65)

'A'

In [ ]:
ord('A')
#aski code

65

In [ ]:
print(True and True and True and True)
#logical oprator
#and Oprator

True

In [ ]:
print(False or False or False or True)
#or oprator

True

In [ ]:
name : str ="qasim"
print(not name!="qasim")
#not oprator
# which comparison result come its revort ture into false fasle into ture

True

In [ ]:
#identity Oprator
x : str ='abc'
z : str = 'abc'
print(id(x))
print(id(z))

x is z

140725179781384
140725179781384

True

In [ ]:
#identity Oprator
x : str ='abc'
z : str = 'abc'
print(id(x))
print(id(z))
x is not z
# same object ko check karne k liye is oprator use karty ha

140725179781384
140725179781384

False

In [ ]:
names : list[str]=[chr(i) for i in range(65,91)]

"D" in names

#to find D is avialable in list

<>:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\Computer\AppData\Local\Temp\ipykernel_4892\1897734319.py:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  "D" is names

False

In [ ]:
names : list[str]= ['haider','ali','tariq']
uinput : str = input("enter your name ")
uinput in names

#to check these name are avilable in list then show ture

True

In [ ]:
names : list[str]= ['haider','ali','tariq']
uinput : str = input("enter your name ")
uinput not in names

#not in mean these are not allowed ,,,else this list all are allowed

True

In [ ]:
#operator precedence
#pemdas

In [ ]:
#list
names =["haider","ali","tariq"]

print(names[-3])
print(names[0])

haider
haider

In [ ]:
#list
#from typing import Any
names =["haider","ali","tariq"]
print(f'founder of PIAIC {names[-1].upper()}')

founder of PIAIC TARIQ

In [ ]:
names : list[any] =["haider","ali","tariq"]

print(type(names))
print(type(names[-2]))
print(f'founder of PIAIC {names[-1].upper()}')

<class 'list'>
<class 'str'>
founder of PIAIC TARIQ

In [ ]:
#slicing(start:int=inculde - -end:int=n-1 - step:int=sequance)
characters : list[str] = list("ABCDEFGHIJKLMNOPQSTUVXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'S', 'T', 'U', 'V', 'X', 'Y', 'Z']

In [ ]:
#slicing(start:int=inculde - -end:int=n-1 - step:int=sequance)
# do ya do se zayada items extract karna chah rhy hai is liye splicing use karte
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'S', 'T', 'U', 'V', 'X', 'Y', 'Z']
print(characters[0:3])
print(characters[:3])
print(characters[-24:-21])
print(characters[0:3:1])
print(characters[0:3:])

['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'S', 'T', 'U', 'V', 'X', 'Y', 'Z']
print(characters[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'T', 'V', 'Y']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(characters[1:-3])

['B', 'C', 'D', 'E']

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(characters[-1:-5])

[]

In [ ]:
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
print(characters[-2:-5:-1])

['G', 'F', 'E']

In [ ]:
names : list[any] =["haider","ali","tariq"]

print(names)
del names[0]
names[0]= "muhammad haider"
print(names)

['haider', 'ali', 'tariq']
['muhammad haider', 'tariq']

In [ ]:
[i for i in dir(list) if "__" not in i]
#to find function of any thing

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
names : list[any] =["haider","ali","tariq"]
print(names)
a : str = names.pop(0)
print(a)
print(names)

['haider', 'ali', 'tariq']
haider
['ali', 'tariq']

In [ ]:
#append method add element in last 
names : list[str] = ['a','b','c']
names.append("haider")
names.append("ali")
names.append("tariq")

print(names)

['a', 'b', 'c', 'haider', 'ali', 'tariq']

In [ ]:
names : list[str] = ['a','b','c','d']
names.insert(1, "haider")
print(names)

['a', 'haider', 'b', 'c', 'd']

In [ ]:
#itration in loop
names : list[str] = ['haider','ali','tariq']
for name in names:
    print(name)

haider
ali
tariq

In [ ]:

names : list[str] = ['haider','ali','tariq']
for name in names[::-1]:
    print(f'Welcome Dear Teacher {name.title()}')
    print("Piaic Gen AI Team\n")
print("pakistan")#not a part of itdentation

Welcome Dear Teacher Tariq
Piaic Gen AI Team

Welcome Dear Teacher Ali
Piaic Gen AI Team

Welcome Dear Teacher Haider
Piaic Gen AI Team

pakistan

In [ ]:
data_base : list[tuple[str,str]] =[("haider0","156"),
                                   ("haider1","256"),
                                   ("haider","116"),
                                   ("ali","117")
                                   ]
input_user : str = input("enter your user name")
input_password : str = input("enter your password")
                                   
for row in data_base:
    user,password =row
    if input_user == user and input_password == password:
        
        print("valid User")
        break
else:
    print("not found invalid user")
    
    print(user,password)

not found invalid user
ali 117

In [ ]:
#Numbers with loop
#range(start,end,step)
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:

names : list[str] = ['haider','ali','tariq']
for index, names in enumerate(names):

    print(index,names)

0 haider
1 ali
2 tariq

In [ ]:
#List Comprihenson -comrihenson style
[i%10 for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [11]:
from typing import Union
per : Union [int,float] = float(input("Enter you Number :\t"))
grade : Union [str,None] = None

if per >= 80:
    grade = "A+"
elif per >= 70:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 50:
    grade = "C"
else:
    grade = "Fail"

print(f"Dear Student Your Percentage is {per} \nnow your Grade is {grade}\t")

Dear Student Your Percentage is 1
 now your Grade is Fail

In [24]:
from typing import Union
PerType = Union[float, int]
percentages : list[PerType] = [88,99.9,50,51,65,70]
grades : list[str] = []
for per  in percentages:
    grade : str = ""

    if per >= 80:
        grade = "A+"
    elif per >= 70:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    else:
        grade = "Fail"

    grades.append(grade)
print(percentages)
print(grades)
data_base = list(zip(percentages,grades, list(range(len(percentages)))))
data_base
display(data_base)
sorted(data_base, key=lambda x:x[1],reverse=True)

[88, 99.9, 50, 51, 65, 70]
['A+', 'A+', 'C', 'C', 'B', 'A']

[(88, 'A+', 0),
 (99.9, 'A+', 1),
 (50, 'C', 2),
 (51, 'C', 3),
 (65, 'B', 4),
 (70, 'A', 5)]

[(50, 'C', 2),
 (51, 'C', 3),
 (65, 'B', 4),
 (88, 'A+', 0),
 (99.9, 'A+', 1),
 (70, 'A', 5)]

In [29]:
cars : list[str] = ['audi','bmw','subaru','toyota']
for car in cars:
    if car == 'bmw':
      print(car.title())
    else:
       print(car.upper())

AUDI
Bmw
SUBARU
TOYOTA

In [31]:
cars : list[str] = ['audi','bmw','subaru','toyota']
[i.title() if i=='bmw' else i.upper() for i in cars]

['AUDI', 'Bmw', 'SUBARU', 'TOYOTA']

In [32]:
cars : list[str] = ['audi','bmw','subaru','toyota']
for car in cars:
    if car != 'bmw':
      print(car.upper())
    else:
       print(car.lower())

AUDI
bmw
SUBARU
TOYOTA

In [34]:
user_name : str = input ("Enter user is: \t")
user_password : str = input ("Enter your password:\t")

if user_name == 'admin' and user_password == 'admin':
    print("sent otp on your registerd phone number ")
    otp : str = input("Enter your OTP")
    if otp == '123':
        print("Welcome to PIAIC")
else:
    print("Invalid user or password")

Invalid user or password

In [49]:
from typing import Dict,Union,Optional
import pprint

key = Union[int,str]
value = Union[int,str,list,dict,tuple,set]
#List
data : Dict[key,value] ={
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education":"MSCS",
                        "abc" : [1,2,3],
                        'xyz' : {1,2,3},
                        'efg' : (1,2,3),
                        'cde' : {"a":1, "b":2}

                        } 
pprint.pprint(data)
print(data["name"])
print(data["education"])
print(data["cde"])

{'abc': [1, 2, 3],
 'cde': {'a': 1, 'b': 2},
 'education': 'MSCS',
 'efg': (1, 2, 3),
 'fname': 'Muhammad Aslam',
 'name': 'Muhammad Qasim',
 'xyz': {1, 2, 3}}
Muhammad Qasim
MSCS
{'a': 1, 'b': 2}

In [6]:
[i for i in dir(data) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
from typing import Dict,Union,Optional
import pprint

key = Union[int,str]
value = Union[int,str,list,dict,tuple,set]
#List
data : Dict[key,value] ={}
data['name'] = "haider"
data['fname'] = "ali"
data['lname'] = "tariq"



print(data)

{'name': 'haider', 'fname': 'ali', 'lname': 'tariq'}

In [7]:
methods : list[str] = [i for i in dir(data) if "__" not in i] #we may variable and we can call it entire our program
print(methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [19]:
from typing import Union
from typing import Dict
key = Union[int,str]#creat custom type
value = Union[int,str,list,dict,tuple,set]

data : Dict[key,value] = {"fname":"Muhammad Tariq",
                          "name":"Tufail",
                          "Education":"MCS"}
                        
data1 : Dict[key,value] = {"name":"Haider ali tariq",
                           "age": 30,
                           "Education": "PHD"}
                           
data.update(data1)

data

{'fname': 'Muhammad Tariq', 'name': 'Haider ali tariq', 'Education': 'PHD', 'age': 30}

In [21]:
import pandas as pd
from typing import Any

students_data :Dict[str, list[Any]] = {"roll no": [1,2,3],
                                       "Name": ["hider ","ali","tariq"],
                                       "eudcation":["msc","master","ms"]
                                       }
df : pd.DataFrame = pd.DataFrame(students_data) 
df

   roll no    Name eudcation
0        1  hider        msc
1        2     ali    master
2        3   tariq        ms

In [23]:
fav_lang ={"ali":"c#",
           "ahmad":"C++"}
language=fav_lang['ali'].upper()
print(f"ali favorite language is: {language}")

ahmad favorite language is: C#

In [29]:
fav_lang ={"ali":"c++",
           "ahmad":"C++"}
friends = ['ali','ahmad']
for name in fav_lang.keys():
    print(f"Hi {name.title()}.")
    if name in friends:
        fav_lang[name].title()
        print(f"\t{name.title()}, i see you love {language}")

Hi Ali.
	Ali, i see you love C#
Hi Ahmad.
	Ahmad, i see you love C#

In [1]:
li : list[int] = [1,2,3,4,5,6]
li

[1, 2, 3, 4, 5, 6]

In [9]:
#itration
li : list[int] = [1,2,3,4,5,6]
for l in li:
    print(f"curent no{l}")

curent no1
curent no2
curent no3
curent no4
curent no5
curent no6

In [12]:
li : str = "HAIDER"
for n in li:
    print(n)

H
A
I
D
E
R

In [15]:
#itration with dictionary
li : dict[str,str] = {"name":"haider","fname":"tariq"}

for k in li:
    print(f"key is:{k} and value is {li[k]}")

key is:name and value is haider
key is:fname and value is tariq

In [17]:
#type castin with SET
li : list[set[int]] = list({1,2,1,2,3,4,5,6,7})
for k in li:
    print(f"value from list of set:{k} ")

value from list of set:1
value from list of set:2
value from list of set:3
value from list of set:4
value from list of set:5
value from list of set:6
value from list of set:7

In [18]:
#user input
name : str = input("what is your name ?")
print(f"welcome dear {name}")

welcome dear haider

In [19]:
import sys

print("line1")
print("line2")

print(type(sys.srgv))

print(sys.argv)

line1
line2

AttributeError: module 'sys' has no attribute 'srgv'

In [20]:
flag : bool = True

current_number : int = 1

while flag:
    print(f"current no is :{current_number}")
    current_number += 1
    if current_number == 11:
        break

current no is :1
current no is :2
current no is :3
current no is :4
current no is :5
current no is :6
current no is :7
current no is :8
current no is :9
current no is :10

In [ ]:
li : list[int] = [100,200,300]

index : int = 0 

while index

In [9]:
data : list[dict[str,str]] = []
flag : bool = True
while flag:
    print("write quite or exit to stop the Program")
    name : str = input("your name \t")
    education : str = input ("your last education")
    if name in ['exit','quite','close','stop'] or education in ['exit','quite','close','stop']:
        flag=False
        break
    data.append({"name":name,
                 "education":education})
    display(data)

write quite or exit to stop the Program

[{'name': 'ali', 'education': 'ba'}]

write quite or exit to stop the Program

In [25]:
for n in range(1,10):
    print(f"{2} X {n} = {n*2}")
    if n == 8:
        break

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16

In [ ]:
for n in range(1,10):
    
    if n == 8:
        continue #its skipping the code
    print(f"{2} X {n} = {n*2}")